* {
    font-family: 'Raleway', sans-serif;
}

.p-main {
    padding:50px 0;
    position:relative;
}

a {
    font-weight:500;
    font-size:16px;
    box-shadow: none;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    outline: none;
}

a:hover {
    text-decoration:none;
}

nav a + a {
    margin-left:25px;
}

h1 {
    font-weight:700;
    font-size:3.5em!important;
}

h2 {
    font-weight:600!important;
    max-width:500px;
    margin:0 auto;
    font-size:1.8em!important;
}

.cover-heading span {
    color:#6400ff!important;
}

.p-main .content {
    margin:150px 0 40px 0;
}

.p-main > a {
    position: absolute;
    bottom: 40px;
    font-size: 16px;
    left: 0;
    right: 0;
    border: none;
}

a.nav-link {
    border:none;
    background-color:transparent!important;
}

a.nav-link:hover {
    background-color:transparent!important;
    background:none!important;
    text-shadow:0px 5px 30px rgb(173 148 226 / 90%);
    box-shadow:none;
}

.cs {
    background: white;
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height:250px;
    transition:all 0.3s ease;
    cursor:pointer;
}

.cs:hover {
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.2);
}

.cs .content {
    padding:50px 40px;
    text-align:left;
}

.cs h2 {
    font-weight:700!important;
}

.cs .content * + * {
    margin-top:10px;
}

.cs .content a {
    display:inline-block;
}

.cs .bg-container img {
    width:100%;
    height:100%;
    border-radius:0 10px 10px 0;
    margin-top:-1px;
    object-fit:cover;
    -o-object-fit:cover;
    max-height:300px;
}

p {
    font-size:16px;
}

.cs .year {
    text-transform:uppercase;
    letter-spacing:3px;
    color:#888;
}

.p-about .heading {
    margin-bottom:30px;
}

.p-about .heading p {
    margin-top:10px;
}

.p-about .list {
    max-width:560px;
    margin:0 auto;
}

.p-about .l-item {
    text-align:left;
}

.p-about .l-item h4 {
    margin:0 0 4px 0;
    font-weight:600;
}

.p-about .l-item + .l-item {
    margin-top:15px;
}

.p-about .col-md-11 {
    padding-left:0px;
}

.p-writing .b-post {
    background: white;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding:30px;
    text-align:left;
}

.p-writing .b-post .date {
    text-transform:uppercase;
    letter-spacing:3px;
    color:#888;
    font-size:16px;
}

.b-post h4 {
    line-height:24px;
    font-size:20px;
}

.p-contact p {
    margin:10px 0 30px 0;
}

.p-contact .c-links div + div {
    margin-top:20px;
}

.p-contact .c-links div span {
    margin-right:10px;
}

.p-main img {
    border-radius:100%;
    max-width:230px;
    margin-bottom:10px;
}

.p-main h1 {
    font-weight:600!important;
}

.p-main h2 {
    font-size:2.1em!important;
    max-width:600px!important;
}

a:hover {
    text-decoration:none!important;
}

/* Case Studies */

p {
    line-height:27px;
}

body.p-case-study .container {
    max-width:800px
}

.p-t-30 {
    padding-top: 30px!important;
}

.p-t-50 {
    padding-top:50px!important;
}

.p-t-70 {
    padding-top:70px!important;
}

.p-t-100 {
    padding-top:100px!important;
}

.p-b-30 {
    padding-bottom:30px!important;
}

.p-b-50 {
    padding-bottom:50px!important;
}

.p-b-70 {
    padding-bottom:70px!important;
}

.p-b-100 {
    padding-bottom:100px!important;
}

body.p-case-study h2 {
    margin:0 0 25px 0;
}

body.p-case-study .align-left {
    text-align:left;
}

.p-case-study .p-main h1 {
    font-weight:600;
}

.p-case-study .p-main p {
    text-transform:uppercase;
    letter-spacing:2px;
    margin-top:17px;
    opacity:0.6;
}

li {
    font-size:16px;
    line-height:27px;
}

li + li {
    margin-top:10px;
}

li li + li {
    margin-top:0px;
}

.p-case-study > div + div {
    padding-top:0px;
}

.p-case-study div.c-problem {
    padding:70px 0;
}

.p-case-study .c-header {
    padding:80px 0 150px 0;
}

.c-addressing {
    padding:70px 0 50px 0;
}

.p-case-study img {
    max-width:100%;
}

.c-video iframe {
    width:100%;
    height:400px;
}

#whimsical {
    padding-bottom:30px!important;
}

#dp-new-store img {
    max-width:600px;
}

#dp-new-store {
    text-align:center;
}

.c-ui {
    padding-bottom:20px;
    padding-top: 70px;
}

#home-link {
    display:inline-block;
    margin-bottom:20px;
}

.c-document {
    padding-bottom:50px!important;
    padding-top: 70px;
}

.c-strategy {
    padding-top:70px;
}

body.p-case-study {
    background:white;
}

.c-details {
    padding:0!important;
}

.c-details img {
    border-radius: 10px;
    margin: 0 -40px 100px -40px;
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.1);
    max-height: 400px;
    width: calc(100% + 80px);
    object-fit: cover;
    -o-object-fit:cover;
}

.c-outcome {
    padding-bottom:50px!Important;
    padding-top: 70px;
}

.c-outcome img {
    margin:0 0 30px 0;
}

.caption {
    font-style:italic;
}

.p-case-study .half {
    width:calc(50% - 90px);
    float:left;
    margin:0 50px;
    border-radius:15px;    
}

.p-case-study .half img {
    border-radius:15px;
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.1);
}

.p-case-study .half .caption {
    display:block;
    text-align: center;
    margin-top:20px;
}

.p-case-study .half + .half {
    margin-left:20px;
}

.break:before {
    content:'';
    border:1px solid #ddd;
    display:block;
    margin:50px 0 70px 0;
}

.c-outcome .caption {
    margin-bottom:20px;
}

#deb-homepage {
    padding-bottom:0px;
}

body.p-case-study .p-contact h2 {
    margin:100px auto 0 auto;
}

.c-full-img img {
    width:100%;
}

.p-case-study .p-main {
    position: relative;
}

.animate {
    padding:0px;
}

/*
#cs-store-listing:before {

    content:'';
    position:absolute;
    top:-180px;
    bottom:0px;
    left:0px;
    right:0px;
    background-image:url("../img/dp_main.png");
    background-size:cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

#cs-store-listing:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color:rgba(0,0,0,.4);
}
 */

/* Mobile Styles */

@media screen and (max-width:767px) {

    .cs .bg-container img {
        border-radius:0 0 10px 10px;
    }

    .container {
        padding-left:30px;
        padding-right:30px;
    }

    .l-item .col-md-1 {
        padding:0 0 10px 0;
    }

    .post + .post {
        margin-top:30px;
    }

    body > div {
        padding:50px 0;
    }

    #dp-new-store img {
        max-width:100%!important;
    }

    .p-case-study .half {
        width:calc(100% - 30px);
        float:none;
        margin:0 15px;
    }

    .p-case-study .half + .half {
        margin-top:30px;
    }

    .p-case-study .navbar-default .navbar-nav>li>a {
        padding-top:0px;
    }

    .p-case-study .collapse {
        display:inline-block;
        border:none;
    }

    .p-case-study .p-main h1:before {
        display:none;
    }

    .p-case-study .p-main h1 {
        line-height:55px!important;
    }

    .p-case-study .p-main > .container {
        margin: 70px auto 20px auto;
    }

    .c-details img {
        max-width:100%!important;
        margin:0 0 50px 0;
    }

    .p-case-study .p-contact {
        padding-bottom:100px!important;
    }

    .c-video iframe {
        height:250px;
    }
}

.g-item img {
    max-width:100%;
    border-radius:10px;
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.1);
    margin-top:0px;
    transition: all .3s ease;
}

.g-item img:hover {
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.2);
    margin-top:-10px;
}

@media screen and (max-width:992px) {
    .p-gallery .post + .post {
        margin-top:30px;
    }
}

/* New */

* {
    color:black;
}

.navbar-default .navbar-nav>li>a {
    color:rgba(0,0,0,.7);
    padding:15px 5px 0 5px;
}

.navbar-default .navbar-nav>li + li {
    margin-left:30px;
}

.navbar-default {
    background:none!important;
    border:none!important;
}

.navbar-brand img {
    max-width:50px;
    display:inline-block!important;
    margin-right:12px;
    margin-bottom:0px;
}

.navbar-brand span {
    font-weight:bold;
    color:rgba(0,0,0,.7);
    font-size:16px;
}

.navbar-nav {
    padding:15px 0;
}

h2.cover-heading {
    font-size:30px!important;
}

.p-main > .content {
    max-width:800px;
    margin:150px auto 180px auto;
}

a.btn {
    font-size:20px;
    font-weight:bold;
    color:rgba(0,0,0,.7);
    background-color:#EFEAFA;
    border-radius:5px;
    padding:12px 50px;
}

a.btn:hover {
    box-shadow:0px 15px 30px rgba(169, 160, 190, .4);
}

/* Remove */

.cs {
    box-shadow:none;
}

.cs h2 {
    font-weight:600;
}

.cs:hover {
    box-shadow:none;
}

h1 {
    font-size:60px!important;
    line-height:70px!important;
}

h2 {
    font-size:30px!important;
}
li + li {
    margin-top:0px!important;
}

.cs span {
    display:block;
    margin-bottom:15px!important;
}

.cs p {
    font-size:20px;
    padding-top:7px;
    margin-bottom:5px;
}

.cs img {
    border-radius:10px!important;
    box-shadow: 0px 50px 60px rgb(0 0 0 / 10%);
}

.cs + .cs {
    margin-top:70px;
}

.dribbble strong {
    margin:80px 0 50px 0;
    display:block;
}

strong {
    font-size:20px;
}

.dribbble .item img {
    object-fit:cover!important;
    -o-object-fit:cover!important;
    max-width:100%;
    border-radius:10px;
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.1);
    cursor:pointer;
}

.dribbble .item img {
    transition: all 0.3s ease;
}

.dribbble .item img:hover {
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.2);
    margin-top:-10px;
}

.cs a.link {
    font-weight:bold;
    color:black;
    font-size:20px;
    z-index: 2;
    position: relative;
}

.cs:hover a.link {
    text-shadow:0px 10px 20px rgba(224, 212, 248, 1);
}

.heading h2 {
    font-weight:700!important;
}

p {
    font-size:20px;
}

h4 {
    font-size:20px;
    font-weight:700!important;
    padding-bottom:3px!important;
}

.l-item {
    padding:25px 20px 22px 20px;
    border-radius:10px;
    transition:all 0.3s ease;
}

.l-item .col-md-1 {
    font-size:20px;
    padding:1px 0 1px 10px;
}

.l-item p {
    margin-bottom:0px;
}

.l-item:hover {
    box-shadow: 0px 23px 60px rgb(0 0 0 / 10%);
}

.l-item + .l-item {
    margin-top:0px!important;
}

.p-about .list {
    max-width:650px;
}

.p-writing h2 {
    font-weight:700!important;
    position: relative;
    display:inline-block;
}

.b-post img {
    max-width:100%;
    height:200px;
    object-fit:cover;
    -o-object-fit:cover
    border-radius:10px;
}

.p-writing .b-post {
    background:none;
    box-shadow:none;
    padding:0px;
}

.b-post .content {
    padding:25px 0;
}

.b-post a.link {
    font-weight:600!important;
    font-size:20px;
    color:black;
    position: relative;
}

.b-post:hover .b-link a {
    text-shadow:0px 10px 20px rgba(224, 212, 248, 1);
}

.p-tools h2 {
    font-weight:700!important;
    position: relative;
    display:inline-block;
}

.p-tools a.panel-heading {
    cursor:initial;;
}

.p-tools a.panel-heading:hover {
    box-shadow:none;
    cursor:initial;
}

.p-tools .container {
    max-width:800px;
    margin:0 auto;
}

.p-tools .panel-heading > div {
    padding:20px 50px;
    text-align:left;
    border-radius:10px;
    font-size:20px;
    font-weight:bold;
}

.p-tools .panel-heading span {
    float:right;
}

.p-tools .panel-heading > div:hover {
    box-shadow: 0px 20px 40px rgb(0 0 0 / 10%);
}

.p-tools .panel-body {
    background-color:rgba(234, 227, 249, .3);
    text-align:left;
    padding:0px 25px;
    margin-top:-25px;
    margin-left:30px;
    height:0px;
    overflow:hidden;
    transition:all 1s ease-in-out;
}

.p-tools .panel-heading:hover + .panel-body {
    padding:20px 25px 10px 25px;
    height:auto;
}

h1.lead span {
    position: relative;
}

h1.lead span:before {
    content: "";
    position: absolute;
    bottom: -7px;
    z-index: -1;
    left: -10px;
    height: 24px;
    width: 110%;
    background-size: 100%;
    background-image: url(../img/u-title.png);
}

a.nav-link.active {
    position: relative;
}

a.nav-link.active:before {
    content: "";
    position: absolute;
    bottom: -2px;
    z-index: -1;
    left: -4px;
    height: 9px;
    width: 110%;
    background-size: 100%;
    background-image: url(../img/u-nav.png);
    background-repeat: no-repeat;
}

.p-case-study a.nav-link.active:before {
    background-image: url(../img/u-back.png);
    width: 100%;
    left:0;
}

p.cs-link {
    position: relative;
    display: inline-block;
}

p.cs-link:before {
    content: "";
    position: absolute;
    bottom: -14px;
    z-index: 0;
    left: -4px;
    height: 23px;
    width: 110%;
    background-size: 100%;
    background-image: url(../img/u-cs.png);
    background-repeat: no-repeat;
}

p.b-link {
    position: relative;
    display: inline-block;
}

p.b-link:before {
    content: "";
    position: absolute;
    bottom: -14px;
    z-index: 0;
    left: -3px;
    height: 23px;
    width: 119%;
    background-size: 100%;
    background-image: url(../img/u-read.png);
    background-repeat: no-repeat;
}

.p-writing h2:before {
    content: "";
    position: absolute;
    bottom: -14px;
    z-index: -1;
    left: -3px;
    height: 23px;
    width: 107%;
    background-size: 100%;
    background-image: url(../img/u-writing.png);
    background-repeat: no-repeat;
}

.p-tools h2:before {
    content: "";
    position: absolute;
    bottom: -14px;
    z-index: -1;
    left: -3px;
    height: 23px;
    width: 107%;
    background-size: 100%;
    background-image: url(../img/u-tools.png);
    background-repeat: no-repeat;
}

.p-contact h2 {
    font-weight: 700!important;
    position: relative;
    display: inline-block;
}

.p-contact h2:before {
    content: "";
    position: absolute;
    bottom: -14px;
    z-index: -1;
    left: -3px;
    height: 23px;
    width: 107%;
    background-size: 100%;
    background-image: url(../img/u-contact.png);
    background-repeat: no-repeat;
}

.p-about h2 {
    position: relative;
    display: inline-block;
}

.p-about h2:before {
    content: "";
    position: absolute;
    bottom: -14px;
    z-index: -1;
    left: -5px;
    height: 23px;
    width: 107%;
    background-size: 100%;
    background-image: url(../img/u-about.png);
    background-repeat: no-repeat;
}


.p-tools .col-md-6.content {
    text-align: left;
}

.p-tools .content p {
    font-size: 18px;
    margin-bottom: 5px;
}

.p-tools .content strong {
    display: block;
    margin-bottom: 15px;
}

.p-tools .content div + div {
    margin-top: 40px;
}

@media screen and (max-width:992px) {
    .cs .content h2 {
        max-width:100%;
    }

    .dribbble .item + .item {
        margin-top:40px;
    }

    .b-post {
        max-width:400px;
        margin:0 auto;
    }

    .p-tools .container {
        max-width:400px;
        margin:0 auto;
    }

    .p-tools .content + .content {
        margin-top:30px;
    }

    .p-main .content {
        padding-left:30px;
        padding-right:30px;
    }

    .navbar-brand {
        float:none!important;
    }
}

@media screen and (max-width:767px) {
    .p-main h1 {
        font-size: 50px !important;
        line-height: 60px !important;
    }

    h2.cover-heading {
        font-size: 25px !important;
    }

    h1.lead span:before {
        background-repeat: no-repeat;
    }

    .l-item .col-md-1 {
        font-size: 25px;
        padding-left: 0px;
    }

    .p-main > .content {
        margin: 100px auto 0 auto !important;
    }

    .p-t-100 {
        padding-top: 40px !important;
    }

    .p-b-30 {
        padding-bottom: 10px !important;
    }

    .p-b-100 {
        padding-bottom: 40px !important;
    }

    .p-contact {
        opacity: 1 !important;
        transform: none !Important;
    }

    .dribbble strong {
        margin:50px 0 30px 0!important;
    }

    .container {
        padding-left:30px!important;
        padding-right:30px!important;
    }

    .p-about .container {
        padding-left:15px!important;
        padding-right:15px!important;
    }
}

.p-case-study .p-main {
    background:none!Important;
}

.p-case-study .p-main h1 {
    font-weight:700!important;
    position: relative;
    display:inline-block;
}

.p-case-study .p-main h1:before {
    content: "";
    position: absolute;
    bottom: -3px;
    z-index: -1;
    left: -10px;
    height: 21px;
    width: 107%;
    background-size: 100%;
    background-image: url(../img/u-dp.png);
    background-repeat: no-repeat;
}

body#spar.p-case-study .p-main h1:before {
    background-image: url(../img/u-spar.png);
}

.p-case-study .p-main p {
    text-transform:inherit!important;
}

.p-case-study .p-main > .container {
    margin:120px auto 70px auto;
}

.p-case-study .c-details img {
    max-width: calc(100% + 80px);
}

.p-case-study p {
    font-size:18px;
}

.p-case-study h2 {
    font-weight:700!important;
}

.c-update h1 {
    font-weight:700;
}