* {
    font-family: 'Raleway', sans-serif;
}

body {
    background: linear-gradient(45deg, #FCA5F1 0%, #B5FFFF 100%);
    background-repeat:no-repeat;
    min-height:100vh;
}

.p-main {
    padding:50px 0;
    position:relative;
}

a {
    font-weight:500;
    font-size:16px;
    box-shadow: none;
    transition: all 0.2s ease 0s;
    cursor: pointer;
    outline: none;
}

a:hover {
    text-decoration:none;
    box-shadow: 0px 15px 15px rgba(173, 148, 226, 0.2);
}

nav a + a {
    margin-left:25px;
}

h1 {
    font-weight:700;
    font-size:3.5em!important;
}

h2 {
    font-weight:600!important;
    max-width:500px;
    margin:0 auto;
    font-size:1.8em!important;
}

.cover-heading span {
    color:#6400ff!important;
}

.p-main .content {
    margin:150px 0 40px 0;
}

.p-main > a {
    position:absolute;
    bottom:40px;
    font-size:16px;
    left:0;
    right:0;
    border:none;}

body > div.section {
    padding:100px 0;
}

a.nav-link {
    border:none;
    background-color:transparent!important;
}

a.nav-link:hover {
    background-color:transparent!important;
    background:none!important;
    text-shadow:0px 5px 30px rgb(173 148 226 / 90%);
    box-shadow:none;
}

.cs {
    background: white;
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    min-height:250px;
    transition:all 0.3s ease;
    cursor:pointer;
}

.cs:hover {
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.2);
}

.cs .content {
    padding:50px 40px;
    text-align:left;
}

.cs + .cs {
    margin-top:50px;
}

.cs h2 {
    font-weight:700!important;
}

.cs .content * + * {
    margin-top:10px;
}

.cs .content a {
    display:inline-block;
}

.cs .bg-container img {
    width:100%;
    height:100%;
    border-radius:0 10px 10px 0;
    margin-top:-1px;
    object-fit:cover;
    max-height:300px;
}

p {
    font-size:16px;
}

.cs .year {
    text-transform:uppercase;
    letter-spacing:3px;
    color:#888;
}

.p-about {
    padding:50px 0!important;
}

.p-about .heading {
    margin-bottom:50px;
}

.p-about .heading p {
    margin-top:10px;
}

.p-about .list {
    max-width:560px;
    margin:0 auto;
}

.p-about .l-item {
    text-align:left;
}

.p-about .l-item h4 {
    margin:0 0 4px 0;
    font-weight:600;
}

.p-about .l-item + .l-item {
    margin-top:15px;
}

.p-about .col-md-11 {
    padding-left:0px;
}

.p-writing .b-post {
    background: white;
    box-shadow: 0px 20px 60px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding:30px;
    text-align:left;
}

.p-writing h2 {
    margin-bottom:50px;
}

.p-writing .b-post .date {
    text-transform:uppercase;
    letter-spacing:3px;
    color:#888;
    font-size:14px;
}

.b-post h4 {
    font-weight: 600;
    line-height:24px;
}

.p-contact p {
    margin:10px 0 30px 0;
}

.p-contact .c-links div + div {
    margin-top:20px;
}

.p-contact .c-links div span {
    margin-right:10px;
}

.p-main img {
    border-radius:100%;
    max-width:230px;
    margin-bottom:10px;
}

.p-main h1 {
    font-weight:600!important;
}

.p-main h2 {
    font-size:2.1em!important;
    max-width:600px!important;
}

a:hover {
    text-decoration:none!important;
}

/* Case Studies */

p {
    line-height:27px;
}

body.p-case-study .container {
    max-width:800px
}

.p-t-30 {
    padding-top: 30px;
}

.p-t-50 {
    padding-top:50px;
}

.p-t-70 {
    padding-top:70px;
}

.p-b-30 {
    padding-bottom:30px;
}

.p-b-50 {
    padding-bottom:50px;
}

.p-b-70 {
    padding-bottom:70px;
}

body.p-case-study h2 {
    margin:0 0 25px 0;
}

body.p-case-study .align-left {
    text-align:left;
}

.p-case-study .p-main h1 {
    font-weight:600;
}

.p-case-study .p-main p {
    text-transform:uppercase;
    letter-spacing:2px;
    margin-top:17px;
    opacity:0.6;
}

li {
    font-size:16px;
    line-height:27px;
}

li + li {
    margin-top:10px;
}

li li + li {
    margin-top:0px;
}

.p-case-study > div + div {
    padding-top:0px;
}

.p-case-study div.c-problem {
    padding:70px 0;
}

.p-case-study .c-header {
    padding:80px 0 150px 0;
}

.c-addressing {
    padding:70px 0 50px 0;
}

.p-case-study img {
    max-width:100%;
}

.c-video iframe {
    width:100%;
    height:400px;
}

#whimsical {
    padding-bottom:30px!important;
}

#dp-new-store img {
    max-width:600px;
}

#dp-new-store {
    text-align:center;
}

.c-ui {
    padding-bottom:20px;
    padding-top: 70px;
}

#home-link {
    display:inline-block;
    margin-bottom:20px;
}

.c-document {
    padding-bottom:50px!important;
    padding-top: 70px;
}

.c-strategy {
    padding-top:70px;
}

body.p-case-study {
    background:white;
}

.c-details {
    padding:0!important;
}

.c-details img {
    border-radius: 10px;
    margin:-200px 0 100px 0;
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.1);
}

.p-case-study .intro-img img {
    max-height:300px;
    width:100%;
    object-fit:cover;
}

.c-outcome {
    padding-bottom:50px!Important;
    padding-top: 70px;
}

.c-outcome img {
    margin:0 0 30px 0;
}

.caption {
    font-style:italic;
}

.p-case-study .half {
    width:calc(50% - 90px);
    float:left;
    margin:0 50px;
    border-radius:15px;    
}

.p-case-study .half img {
    border-radius:15px;
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.1);
}

.p-case-study .half .caption {
    display:block;
    text-align: center;
    margin-top:20px;
}

.p-case-study .half + .half {
    margin-left:20px;
}

.break:before {
    content:'';
    border:1px solid #ddd;
    display:block;
    margin:50px 0 70px 0;
}

.c-outcome .caption {
    margin-bottom:20px;
}

#deb-homepage {
    padding-bottom:0px;
}

body.p-case-study .p-contact h2 {
    margin:100px auto 0 auto;
}

.c-full-img img {
    width:100%;
}

.p-case-study .p-main {
    padding:150px 0 300px 0;
    position: relative;
    background-color:rgba(241, 187, 68, .4);
}

.p-case-study#spar .p-main, .p-case-study#spar .p-contact {
    background-color:rgba(140, 190, 79, .4);
}

body.p-case-study .p-contact {
    background-color:rgba(241, 187, 68, .4);
}

.animate {
    padding:0px;
}

/*
#cs-store-listing:before {

    content:'';
    position:absolute;
    top:-180px;
    bottom:0px;
    left:0px;
    right:0px;
    background-image:url("../img/dp_main.png");
    background-size:cover;
    filter: blur(5px);
    -webkit-filter: blur(5px);
}

#cs-store-listing:after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color:rgba(0,0,0,.4);
}
 */

/* Mobile Styles */

@media screen and (max-width:767px) {

    .cs .bg-container img {
        border-radius:0 0 10px 10px;
    }

    .container {
        padding-left:30px;
        padding-right:30px;
    }

    .l-item .col-md-1 {
        padding:0 0 10px 0;
    }

    .post + .post {
        margin-top:30px;
    }

    body > div {
        padding:50px 0;
    }

    #dp-new-store img {
        max-width:100%!important;
    }

    .p-case-study .half {
        width:calc(100% - 30px);
        float:none;
        margin:0 15px;
    }

    .p-case-study .half + .half {
        margin-top:30px;
    }
}

.g-item img {
    max-width:100%;
    border-radius:10px;
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.1);
    margin-top:0px;
    transition: all .3s ease;
}

.g-item img:hover {
    box-shadow: 0px 50px 60px rgba(0, 0, 0, 0.2);
    margin-top:-10px;
}

@media screen and (max-width:992px) {
    .p-gallery .post + .post {
        margin-top:30px;
    }
}

/* Accordion */

.panel-group {
    margin-bottom: 0;
}
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
}
.panel-group .panel .panel-heading {
    padding: 0;
}
.panel-group .panel .panel-heading h4 a {
    background: #f8f8f8;
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding: 15px;
    text-decoration: none;
    transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:hover, .panel-group .panel .panel-heading h4 a:not(.collapsed) {
    background: #fff;
    transition: 0.15s all ease-in-out;
}
.panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
    content: "ï¨";
}
.panel-group .panel .panel-heading h4 a i {
    color: #999;
}
.panel-group .panel .panel-body {
    padding-top: 0;
}
.panel-group .panel .panel-heading + .panel-collapse > .list-group,
.panel-group .panel .panel-heading + .panel-collapse > .panel-body {
    border-top: none;
}
.panel-group .panel + .panel {
    border-top: none;
    margin-top: 0;
}